* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo 
{
    font-size: 26px;
    font-weight: bold;
}

.logo span 
{
    color: rgb(255, 155, 15);
}

nav ul 
{
    list-style: none;
    display: flex;
}

nav ul li 
{
    margin-left: 25px;
}

nav ul li a 
{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav ul li a:hover 
{
    color: orange;
}
.hero{
    height: 80vh;
    background: url("images/mountains.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content 
{
    text-align: center;
    color: white;
}

.hero-content h1 
{
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p 
{
    font-size: 18px;
    margin-bottom: 25px;
}

.btn 
{
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
}

.btn:hover
 {
    background-color: darkorange;
 }



